/* CSS style sheet for IPP easy buffer tool*/

#map { position: absolute; top:0; bottom:0; right:0; left:0; }

body { margin:0; padding:0; }

.leaflet-touch .leaflet-bar {
    box-shadow: none;
    border: 3px solid RGBA(102,0,190,0.3);


}
.leaflet-bar a.leaflet-control-touchhover-toggle {
    box-shadow: none;
    background: url("/dist/img/Mouse.png") #ffffff;
    background-size: contain;
}


.leaflet-bar a.leaflet-control-touchhover-toggled {
    background: url("/dist/img/Phone.png") #ffffff;
    background-size: contain;
}
